html, body {
    height: 100%;
    margin: auto;
}
#main {
    height: 100%;
    width: 100%;
    margin: auto;
    float: left;
}
#menu {
    width: 15%;
    height: 100%;
    background-color: #3DD3FF;
    text-align: center;
    float: left;
}
#menu *, #file * {
    vertical-align: middle;
    text-align: left;
    cursor: default;
}
#menu div{
    border: solid 2px gray;
    background-color: #A7A1FF;
    border-radius: 5px;
}
.up_dir {
    border: dotted 1px #CC8888;
    color: #FF0000;
    font-weight: bolder;
    background-color: #FFCCCC;
    cursor: default;
    vertical-align: middle;
}
.up_dir i{
    color: #777777;
    margin: 5px 5px;
}
.dir {
    border: dotted 1px #777777;
    color: #0000FF;
    font-weight: bolder;
    background-color: #CCCCFF;
    cursor: default;
    vertical-align: middle;
}
.dir i{
    color: #777777;
    margin: 5px 5px;
}
.file {
    border: dotted 1px #88CC88;
    color: #FF0000;
    font-weight: bolder;
    background-color: #CCFFCC;
    cursor: default;
    vertical-align: middle;
}
.file i{
    color: #777777;
    margin: 5px 5px;
}
#file {
    background-color: #CCDDDD;
    text-align: left;
    height: 100%;
    width: 85%;
    float: left;
}

.choose{
    background-color: #CCCCCC;
}
.select{
    background-color: #AAAAAA;
}
#menu div i{
    padding: 0 10px;
}